.itemsTest {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/dvco5xnoe/image/upload/v1680855265/happy-doctor-holding-clipboard-with-patients_aalfx8.jpg');
  padding: 30px;
}

.home {
  font-family: 'roboto';
  font-weight: 700;
  font-size: 28px;
}

.name {
  color: peru;
  font-weight: 600;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.review {
  color: black;
}
